@model Web.Models.Photos
@{
    ViewBag.Title = "Photos";
}
<hr/>


@*@{
        foreach (string imagePath in Model.Thumbnails)
        {
            <img src="@imagePath" class="rounded float-left"alt="img">
        }
    }*@


<!--Temp page -->
<h2>Nothing to see here... Yet.</h2>
<div class="mx-auto" style="width: 600px">
    <img src="/Images/family-guy-stewie.jpg" class="rounded-circle" alt="Dummy Image">
</div>