@model Web.Models.Logs
@{
    ViewBag.Title = "Logs";
}

<style>
    input[type=checkbox] {
        -ms-transform: scale(3.5);
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }

    .Information {
        background-color: green
    }

    .Error {
        background-color: red
    }

    .Warning {
        background-color: yellow
    }
</style>

<script>
    // TODO Use meaningful names and make it more readable.
    function filterTable(checkbox) {
        var table = document.getElementById("myTable");
        var tr = table.getElementsByTagName("tr");
        var allOrNone = "none";
        var td, i;

        if ($(checkbox).is(':checked')) {
            allOrNone = "";
        }
        
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];

            if (td) {
                if (td.id === checkbox.id) {
                    tr[i].style.display = allOrNone;
                }
            }
        }
    }
</script>

<hr/>

<div style="font-size: 30px; text-align: center;">
    <input type="checkbox" checked="checked" id="Information" onchange="filterTable(this)">&emsp;Information &emsp;&emsp;
    <input type="checkbox" checked="checked" id="Warning" onchange="filterTable(this)">&emsp;Warnings &emsp;&emsp;
    <input type="checkbox" checked="checked" id="Error" onchange="filterTable(this)">&emsp;Errors
</div>
<br/><br/>

<table id="myTable" class="table table-striped table-dark">
    <tbody>
    @foreach (Tuple<string, string> item in Model.LogList)
    {
        //TODO Use Bootstrap Badges instead of cell background (optional).
        <tr>
            <td class=@Html.DisplayName(item.Item1) id=@Html.DisplayName(item.Item1) width="120">
                <span>
                    @Html.DisplayName(item.Item1)
                </span>
            </td>
            <td>
                <span>
                    @Html.DisplayName(item.Item2)
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>