@using System.Diagnostics
@using System.Threading

@model Web.Models.Logs
@{
    ViewBag.Title = "Logs";
}

<style>
    input[type=checkbox] {
        transform: scale(3.5);
    }
</style>

<script>
    function filterTable(blabla) {
        var table = document.getElementById("myTable");
        var tr = table.getElementsByTagName("tr");
        var allOrNone = "none";
        var td, i;

        if ($(blabla).is(':checked')) {
            allOrNone = "";
        }

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];

            if (td) {
                if (td.bgColor === blabla.value) {
                    tr[i].style.display = allOrNone;
                }
            }
        }
    }
</script>

<hr />
<h4>Logs</h4>

<div style="text-align: center; font-size: 30px;">
    <input value="green" type="checkbox" checked="checked" id="information" onchange="filterTable(this)">&emsp;Information &emsp;&emsp;
    <input value="yellow" type="checkbox" checked="checked" id="warning" onchange="filterTable(this)">&emsp;Warnings &emsp;&emsp;
    <input value="red" type="checkbox" checked="checked" id="error" onchange="filterTable(this)">&emsp;Errors
</div>
<br /><br />

<table id="myTable" class="table table-striped table-dark">
    <tbody>
        @foreach (Tuple<string, string, string> item in Model.LogList)
        {
            <tr>
                <td bgcolor=@Html.DisplayName(item.Item1)>
                    <span>
                        @Html.DisplayName(item.Item2)
                    </span>
                </td>
                <td>
                    <span>
                        @Html.DisplayName(item.Item3)
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>


<p>End of logs history table.</p>

