@model Web.Models.Logs
@{
    ViewBag.Title = "Logs";
}

<style>
    input[type=checkbox] {
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2);
        float: left
    }
</style>

<hr/>

<div style="font-size: 30px; text-align: center;">

    <span style="width: 33%;"><input type="button" state="isPressed" onclick="filterTable(this)" value="Information" class="btn btn-success"></span>
    <span style="width: 33%;"><input type="button" state="isPressed" onclick="filterTable(this)" value="Error" class="btn btn-danger"></span>
    @if (!Model.NoWarnings)
    {
        <span style="width: 33%;"><input type="button" state="isPressed" onclick="filterTable(this)" value="Warning" class="btn btn-warning"></span>
    }
</div>
<br/><br/>

<table id="myTable" class="table table-striped table-dark">
    <tbody>
    @foreach (Tuple<string, string> item in Model.LogList)
    {
        <tr>
            <td id=@Html.DisplayName(item.Item1) width="145">
                <h4><span style="width: 100%; display: block; float: left;" class=@Html.DisplayName(item.Item1)>@Html.DisplayName(item.Item1)</span></h4>
            </td>
            <td>
                <span>
                    @Html.DisplayName(item.Item2)
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    $('.Error').addClass('badge badge-danger');
    $('.Information').addClass('badge badge-success');
    $('.Warning').addClass('badge badge-warning');

    function filterTable(checkbox) {
        var table = document.getElementById("myTable");
        var tr = table.getElementsByTagName("tr");
        var shouldDisplay = "";
        var td;

        if (checkbox.state === "isPressed") {
            checkbox.state = "isNotPressed";
            $(checkbox).removeClass("btn-secondary");

            if (checkbox.value === "Information") {
                $(checkbox).addClass("btn-success");
            } else if (checkbox.value === "Error") {
                $(checkbox).addClass("btn-danger");
            } else {
                $(checkbox).addClass("btn-warning");
            }
        } else {
            shouldDisplay = "none";
            checkbox.state = "isPressed";
            $(checkbox).attr("class", "btn btn-secondary");
        }

        for (var i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];

            if (td) {
                if (td.id === checkbox.value) {
                    tr[i].style.display = shouldDisplay;
                }
            }
        }
    }
</script>