.modal-full-width {
    max-height: 90%;
    max-width: 90%;
}


.modal-dark { background-color: #2d2d2d; }

.modal-darker { background-color: #1d1d1d; }

.modal-header-no-line {
    -ms-flex-align: start;
    -ms-flex-pack: justify;
    align-items: flex-start;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}